@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);

@media all
{
	body {
		font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
		font-size: 18px;
		margin: 5% 20% 5% 20%;
		padding: 2% 5% 5% 5%;
		width: 60%;
		line-height: 150%;
		border: 1px solid LightGrey;
	}
    
    h1 {
	/*
	  font-family:Sans;
	  font-weight:bold; */
	font-size:2.1em;
	padding:0 0 10px 0;
	margin-top: 60px;
	margin-bottom: 40px;
	/*    color: #6C5D4F; */
	color:  #666666;
	border-bottom: 2px LightGrey solid;
	width: 90%;
    }

    h2 {
	font-family:sans-serif;
	font-size:1.2em;
	line-height:16px;
	padding:10px 0 10px 0;
	color: gray;
	border-bottom: 1px solid #ddd;
    }

    .outline-text-2 {
	margin-left: 0.1em
    }

    h3 {
	font-family:sans-serif;
	font-size:1.0em;
	color: grey;
	margin-left: 0.6em;
    }

    /* #A34D32;*/


    .outline-text-3 {
	margin-left: 0.9em;
    }

    h4 {
	font-family:sans-serif;
	font-size:1.2em;
	margin-left: 1.2em;
	color: #A5573E;
    }

    .outline-text-4 {
	margin-left: 1.45em;
    }

    a {text-decoration: none; font-weight: 400;}
    a:visited {text-decoration: none; font-weight: 400;}
    a:hover {text-decoration: underline;}

    li {
	margin: .4em;
    }

    table {
	border: none;
    }

    td {
	border: none;
    }

    th {
	border: none;
    }

    code {
	font-size: 100%;
	color: black;
	border: 1px solid #DEDEDE;
	padding: 0px 0.2em;
    }

    img {
	border: none;
    }

    .share img {
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
    }

    .share img:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
    }

    pre {
	font-family: Droid Sans Mono, Monaco, Consolas, "Lucida Console", monospace;
	color: black;
	font-size: 90%;
	background-color: #ffffff;
	padding: 1.2em;
	border: 2px solid #dddddd;
	overflow: auto;
    }

} /* END OF @media all */



@media screen
{
    #table-of-contents {
	float: right;
	border: 1px solid #CCC;
	max-width: 50%;
	overflow: auto;
    }
} /* END OF @media screen */
